{% extends '@layout/default.html.twig' %}

{% block title %}Save{% endblock %}

{% block content %}
<h1>Save</h1>
<hr>

{% if upload is not empty %}
<div class="alert alert-success">
    The following files are now available in <samp>{{ directory }}</samp> folder :
    <ol class="mt-3">
        {% for file in upload %}
        <li>{{ file }}</li>
        {% endfor %}
    </ol>
</div>
{% endif %}

{% if skip is not empty %}
<div class="alert alert-warning">
    The following files are <strong>not</strong> uploaded (and are deleted from the temporary folder) :
    <ol class="mt-3">
        {% for file in skip %}
        <li>{{ file }}</li>
        {% endfor %}
    </ol>
</div>
{% endif %}

{% endblock %}
